### ***Import Libraries***

----

In [1]:
#Import library

import pandas as pd
import numpy as np
import pickle

---

<vspace>

### ***Load Model***

---

In [2]:
#Load Model
with open('model_scaler.pkl', 'rb') as file_1:
  scaler = pickle.load(file_1)

with open('PCA.pkl', 'rb') as file_2:
  pca = pickle.load(file_2)

with open('K-means.pkl', 'rb') as file_3:
  km = pickle.load(file_3)

---

<vspace>

### ***Inference Data***

---

make data for inference

In [3]:
# Inference Data
data_inf = {
    'CUST_ID': 1234,
    'BALANCE LEFT': 1500,
    'BALANCE_FREQUENCY': 0.95,
    'PURCHASES': 4130, 
    'ONEOFF_PURCHASES': 2560, 
    'INSTALLMENTS_PURCHASES': 1570,
    'CASH_ADVANCE': 497,
    'PURCHASES_FREQUENCY': 0.91, 
    'ONEOFF_PURCHASES_FREQUENCY': 0.567, 
    'PURCHASES_INSTALLMENTS_FREQUENCY': 0.697,
    'CASH_ADVANCE_FREQUENCY': 0.06, 
    'CASH_ADVANCE_TRX': 1.396, 
    'PURCHASES_TRX': 46,
    'CREDIT_LIMIT': 6700,
    'PAYMENTS': 3300,
    'MINIMUM_PAYMENTS': 987,
    'PRC_FULL_PAYMENT' : 11.65,
    'TENURE': 8
}
# Make into a data frame
data_inf = pd.DataFrame([data_inf])
data_inf

,CUST_ID,BALANCE LEFT,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,1234,1500,0.95,4130,2560,1570,497,0.91,0.567,0.697,0.06,1.396,46,6700,3300,987,11.65,8

Follows the step in main program, CUST_ID and TENURE will be drop

In [4]:
# Drop CUST ID and TENURE
data_inf = data_inf.drop(['CUST_ID','TENURE'], axis = 1)

Next using scaler and pca to transform the data inference

In [5]:
# Scaling data inference
data_inf_scaled = scaler.transform(data_inf)

In [6]:
# PCA for data inference scaled
data_inf_scaled_pca = pca.transform(data_inf_scaled)

Proceed to K-means to predict the data

In [7]:
# Predict the data inference that has been scaled and PCA transform
pred = km.predict(data_inf_scaled_pca)
# Make loop for categorize each cluster
if pred[0] == 0:
    print('Customer are classified as Heavy Spenders')
elif pred[0] == 1:
    print('Customer are classified as Low Spenders')
elif pred[0] == 2:
    print('Customer are classified as Cash Advance Heavy Users')

Customer are classified as Heavy Spenders

From data inference, customer are classified as heavy spenders

-----